/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #555;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #f1f1f1;
    cursor: pointer;
}

.rainbow-text {
    background-image: linear-gradient(to left, indigo, cyan, green, yellow, orange, red);
    -webkit-background-clip: text;
    color: transparent;
}

#myFileLabel {
    border: 5px dashed #0B6BCB;
    border-radius: 20px;
    cursor: pointer;
}

#myFileLabel:hover {
    background-color: rgba(124, 124, 124, 0.08);
}

ul {
    list-style-type: circle;
    margin: 5px;
}

ul li::marker {
    color: #0B6BCB;
    font-size: 20px;
}